@model CountriesViewModel
@{
    ViewData["Title"] = "Index";
}


    <div class="container">
        <div class="row">

            @foreach (var recipie in Model.Recipies)
            {
                <div class="card" style="width: 12rem;">
                    <img class="card-img-top" src="..." alt=@recipie.RecipieName>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>

                    
                </div>
            }
        </div>
    </div>

